@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/elements/objects/open-sans-300.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/elements/objects/open-sans-600.woff) format('woff');
}

/* border-box layout for all elements */
*, *:before, *:after
{
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
}

html
{
 height: 100%;
}

body
{
 height: 100%;
 background: #ffffff;
 color: #000000;
 margin: 0;
 padding: 0;
 font-size: 16px;
 font-weight: 300;
 font-family: 'Open Sans', sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
 /* Webkit based browsers have a grey background
    in radio buttons. To get rid of them, -webkit-appearance: none is
    needed. That makes them invisible in some browsers.
    So there is a lot of styling needed to make them look right: */
 input[type=radio]
 {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border: 1px solid #000000;
  cursor: pointer; 
  border-radius: 2em;
 }
 input[type=radio]:checked
 {
  background-color: #000000;
 }
}

input[type=text], input[type=submit], textarea, button
{
/* border: 1px solid #404040; */
 font-family: 'Open Sans';
 font-weight: 300;
 -webkit-appearance: none;
 -webkit-border-radius: 4px 4px 4px 4px;
 vertical-align: middle;
 padding: 4px;
}

/* prevent fireox from displaying an outline when the button is clicked: */
button::-moz-focus-inner
{
  border: 0;
}

a
{
 color: #000000;
 text-decoration: none;
 outline: 0;
}

a:hover
{
 text-decoration: underline;
}
 
h1
{
 font-size: 25px;
 font-weight: bold;
}

form {
  margin: 0;
}

input::-moz-focus-inner
{ 
 border: 0;
}

input[type="submit"],.continue,button
{
 background-color: #ffffff;
 border-radius: 4px 4px 4px 4px;
 border: 1px solid #202020;
 color: #000;
 cursor: pointer;
 font-size: 17px;
 padding: 6px 12px;
 vertical-align: middle;
 outline: 0;
 /* without the following 2 styles, my ipad 2 will make funny things with
    input[type=submit] elements. 2013-09-04 /mg */
 -webkit-appearance: none;
 -webkit-border-radius: 4px 4px 4px 4px;
}

input[type="submit"]:hover, .continue:hover
{
 box-shadow: 0 0 0 1px black;
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

td
{
 padding: 0;
}

th
{
 padding-bottom: 20px;
}

.universe
{
 height: 100%;
 width: 100%;
}

/* HEADER */

.heaven
{
 /* border-bottom: 1px solid #808080; */
}

.headline
{
 font-size: 30px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 vertical-align: middle;
 height: 80px;
 white-space: nowrap;
}

.subheadline
{
 padding-left: 14px;
 color: #404040;
}

.subheadline a
{
 color: #404040;
}

.project, .questionmark
{
 display: inline-block;
 text-align: center;
 background-color: #80d0ff;
 padding-top   : 5px;
 padding-bottom: 5px;
 padding-left  : 14px;
 padding-right : 14px;
}

.project
{
 width: 220px;
 padding-top: 15px;
 padding: 15px;
 /* margin-right: 5px; */
}

.questionmark
{
 margin-right: 10px;
 position: fixed;
 width: 50px;
 bottom: 19px;
 right: 10px;
}

.the_title
{
 /* background-color: #c6fd65; */
 padding-top   : 5px;
 padding-bottom: 5px;
 padding-left  : 14px;
 padding-right : 14px;
 margin-left: 5px;
}

@media (max-width: 600px)
{
 .the_title
 {
  display: none;
 }
}

a.questionmark:hover, a.project:hover
{
 text-decoration: none;
 color: #000;
 background-color: #f0ffa0;
 transition: all 0.5s linear;
}

@media (max-width: 800px)
{
 .questionmark
 {
  display: none;
 }
}

.content
{
 vertical-align: top;
 padding: 0;
}

.content_top_spacer
{
 height: 28%;
 display: table;
}

@media (max-height: 400px)
{
.content_top_spacer
{
 height: 15%;
 display: table;
}
}

@media (max-height: 300px)
{
.content_top_spacer
{
 display: none;
}
}

/* index -------------------------------------------------------------------- */

.search_wrap
{
 padding: 1em 1em 1em 1em;
 max-width: 44em;
 width: 70%;
 margin-left: auto;
 margin-right: auto;
 text-align: left;
}

.search_info
{
 text-align: center;
 font-size: 18px;
}

@media (max-width: 900px)
{
 .search_info span
 {
  display: none;
 }
}

.search
{
 margin-top: 0.7em;
 font-size: 18px;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 -ms-border-radius: 2px;
 -o-border-radius: 2px;
 border-radius: 2px;
 display: block;
 position: relative;
 height: 2.8em;
 background-color: #fff;
 border: 1px solid #b0b0b0;
 padding-left: 0.75em;
 padding-right: 6.5em;
}

.search_input
{
 -webkit-appearance: none;
 -moz-appearance: none;
 -ms-appearance: none;
 -o-appearance: none;
 appearance: none;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 font-size: 1.1em;
 font-family: "Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
 font-weight: normal;
 display: block;
 width: 111%; /* strange. how is this calculated? */
 background: none;
 outline: none;
 border: none;
 padding: 0;
 height: 2.54545em;
 z-index: 1;
 position: relative;
 top: -1px;
}

.search_input:focus
{
 outline: none;
}

.search_button
{
 appearance: none;
 background: transparent; /* has a color on the map pages otherwise */
 border: none;
 border-radius: 2px;
 bottom: 0;
 box-sizing: content-box;
 cursor: pointer;
 display: block;
 font-size: 1.25em;
 height: auto;
 left: auto;
 line-height: 1.5;
 line-height: 2.45em;
 margin: auto;
 margin-bottom: 2px;
 margin-top: 2px;
 min-height: 1.8em;
 min-width: 26px;
 -moz-appearance: none;
 -moz-border-radius: 2px;
 -moz-box-sizing: content-box;
 -o-appearance: none;
 -o-border-radius: 2px;
 -o-box-sizing: content-box;
 outline: none;
 padding: 0 0.64em;
 position: absolute;
 right: 2px;
 text-align: center;
 top: 0;
 -webkit-appearance: none;
 -webkit-border-radius: 2px;
 -webkit-box-sizing: content-box;
 -webkit-font-smoothing: subpixel-antialiased;
 -webkit-tap-highlight-color: rgba(0,0,0,0);
 width: 1em;
 z-index: 2;
}

.has_text ~  .search_button .mglass
{
 background-color: #ffffff;
}

.has_text ~  .search_button .mglass::before
{ 
 border-color: #ffffff;
}

.has_text ~ .search_button
{
 /* background-color: #60ae50; */
 background-color: #50a0e0;
}

.has_text ~ .search_button:hover
{
 background-color: #60c0e0;
}

.mglass
{
 margin-top: 0.7em;
 margin-left: 0.7em;
 position: relative;
 width: 0.5em;
 height: 0.25em;
 background-color: #909090;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 transform: rotate(45deg);
 border-bottom-right-radius: 0.3em;
 border-top-right-radius: 0.3em;
}

.mglass::before
{
 border: 0.12em solid #909090;
 content: "";
 position: absolute;
 top: -0.35em;
 left: -0.85em;
 display: block;
 width: 0.9em;
 height: 0.9em;
 border-radius: 50%;
}

.info
{
 height: 1px;
 padding-left: 20px;
 padding-right: 20px;
 border-top: 1px solid #c0c0c0;
 color: #404040;
 text-align: center;
}

.info a
{
 display: inline-block;
 margin-left:   5px;
 margin-right:  5px;
 margin-top:    10px;
 margin-bottom: 10px;
 color: #404040;
}

.latest_searches
{
 height: 40px;
 overflow: hidden;
}

@media (max-height: 500px)
{
 .latest_searches
 {
  display: none;
 }
}

@media (max-width: 600px)
{
 .latest_searches
 {
  display: none;
 }

 .search_wrap
 {
  width: 90%;
 }
}

@media (max-width: 500px)
{
 .search_wrap
 {
  width: 95%;
 }
}

/* Info Pages ------------------------------------------------------------ */

.content_info
{
 margin-top: 0%;
 margin-left: auto;
 margin-right: auto;
 padding: 0 2em 0 2em;
 max-width: 875px;
}

.content_info a
{
 background: #90e0ff;
 padding-right: 2px;
 padding-left : 2px;
}

@media (min-height: 500px) { .content_info { margin-top: 5%; } }
@media (min-height: 600px) { .content_info { margin-top: 10%; } }

/* Typeahead --------------------------------------------------------------- */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0px 5px 0px;
  margin: 2px 0px 0px -14px;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;

/*
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
*/
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #606060;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,

/*
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #000000;
  text-decoration: none;
  background-color: #d3daf1;
}
*/

/*
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #000000;
  text-decoration: none;
  background-color: #d3daf1;
  outline: 0;
}
*/

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
 background-color: rgb(128, 208, 255);
  color: #000000;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.dropdown-menu a
{
 text-decoration: none;
}

.dropdown-menu strong
{
 font-weight: normal;
 color: #000000;
}


.the_title
{
 /* position: absolute; */
 margin-top: 12px;
 font-weight: bold;
}

.the_title_search
{
 padding-top: 0;
 padding-bottom: 0;
 padding-right: 0;
 width: 500px;
 background: #e0e0e0 !important;
}

#f
{
 /* border: 0; */
 /* position: absolute; */
 left: 0px;
 /* top: 0px; */
 width: 211px;
 height: 51px;
 background: transparent;
 font-size: 30px;
}

#f:focus
{
 outline: none;
}

.search
{
 border: 0;
 /* margin-top: 0; */
 font-size: 18px;
 display: block;
 top: 0px;
 position: relative;
 background: transparent;
 /* padding-left: 0.75em; */
 /* padding-right: 6.5em; */
}

.map_info
{
 text-align: left;
 vertical-align: top;
 width: 220px;
 background: #f5f5f5;
 padding-top: 1em;
 bottom: 0;
 top: 80px;
 position: absolute;
}

.map_info p
{
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 0;
}

.advert
{
 text-align: center;
 width: 100%;
 height: 240px;
 padding-top: 5px;
 padding-left: 10px;
 padding-right: 10px;
}

#gnodMap
{
 position: absolute;
 left: 230px;
 top: 80px;
 right: 0px;
 bottom: 0px;
 box-shadow: inset 4px 4px 0px #f5f5f5;
}

.S
{
 position:absolute;
 visibility:visible;
 top:-500px;
 font-size: 15px;
 font-family: Arial, Helvetica, sans-serif;
 CURSOR: pointer;
 text-decoration: none;
 padding      : 5px;
 padding-left : 8px;
 padding-right: 8px;
 transition: background 0.2s linear;
}

.S:hover
{
 text-decoration: none;
}

@media (max-width: 800px)
{
 .questionmark
 {
  display: none;
 }
}

@media (max-width: 500px)
{
 .the_title
 {
  display: none;
 }
 .map_info
 {
  top: calc( 100% - 120px );
  bottom: 0;
  width: 100%;
  height: 120px;
  padding-top: 4px;
  background: #fff;
 }
 .map_info_text
 {
  display: none;
 }
 .advert
 {
  height: 90px;
  padding-top: 2px;
 }
 #gnodMap
 {
  bottom: 121px;
  left: 0px;
  top: 70px;
  right: 0px;
  box-shadow: none;
 }
}
